<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manufacturer</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static',filename='styles/base.css') }}">
</head>

<body>
    <header>
        <span id="dapp-name"><span id="dapp-name-d">d</span><span id="dapp-name-rest">Pharma</span></span>
        <div class="links">
            <span class="nav-link"><a href="#">About</a></span>
            <span class="nav-link"><a href="#">Login</a></span>
            <span class="nav-link"><a href="#">Register</a></span>
        </div>
    </header>
</body>

</html>